.font-size-25 {
    font-size: 25px;
}

.font-size-28 {
    font-size: 28px;
}

.font-size-17 {
    font-size: 17px;
}

.album-wrapper {
    width: 285px;
    height: 250px;
}

.img-wrapper {
    max-height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.album-img-wrapper {
    height: 200px;
    width: 285px;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 0 0.5rem 0.5rem;
}

.album-img-wrapper img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: auto;
    height: 100%;
}

.img-standard {
    width: 100%;
    min-height: 250px;
}

.like-icon:hover {
    cursor: pointer;
    color: #ff3e1d;
}

.bxs-heart {
    color: #ff3e1d;
}

.delete-icon {
    cursor: pointer;
}

.delete-icon:hover {
    color: #613a3a;
}

.is-public-icon {
    cursor: pointer;
}

/*.is-public-icon:hover {*/
/*    color: #03c3ec;*/
/*}*/

.active {
    color: #03c3ec;
}

.max-width {
    max-width: 430px;
}

.icon-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.icon-container .icon {
    font-size: 24px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon-container::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease, height 0.3s ease;
}

.icon-container:hover .icon {
    transform: scale(1.1);
}

.icon-container:hover::after {
    width: 40px;
    height: 40px;
}

.icon-container:active .icon {
    color: #00f;
}

.icon-container:active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: ripple 0.6s ease-out;
}

.icon-container-heart:after {
    top: 45% !important;
}

@keyframes ripple {
    0% {
        width: 10px;
        height: 10px;
        opacity: 0.5;
    }
    100% {
        width: 80px;
        height: 80px;
        opacity: 0.5;
    }
}
