.font-size-25 {
    font-size: 25px;
}

.font-size-28 {
    font-size: 28px;
}

.album-wrapper {
    width: 285px;
    height: 250px;
}

.img-wrapper {
    max-height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.album-img-wrapper {
    height: 200px;
    width: 285px;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 0 0.5rem 0.5rem;
}

.album-img-wrapper img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: auto;
    height: 100%;
}

.img-standard {
    width: 100%;
    min-height: 250px;
}

.like-icon:hover {
    cursor: pointer;
    color: #ff3e1d;
}

.bxs-heart {
    color: #ff3e1d;
}

.delete-icon {
    cursor: pointer;
}

.delete-icon:hover {
    color: #613a3a;
}

.is-public-icon {
    cursor: pointer;
}

.is-public-icon:hover {
    color: #03c3ec;
}

.active {
    color: #03c3ec;
}

.max-width {
    max-width: 430px;
}
